{% load static %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0px; background-color: black;">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container-fluid">
      <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'shop:product_list' %}" style="color: Gold">BACKGROUND NPC SHOP</a>
	</div>
  </div>
</nav>
