{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<body>
	<h1><font color="red">Riddle me this batman</font></h1>
<div align = "center" class="center">

<p>I am an arrow pointing to the right.</p>
<p>I don't point directions, but i follow procedures</p>
<p>I no longer needed where theres nothing left</p>
<p>previous is my brother, skip is my twin</p>
<p>What am i ?</p>

</div>

<p>Hint: NO HINTS!</p>
</body>
</html>
