{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<body>

<div align = "center" class="center">
<h1><font color="red">CONGRATULATIONS!</font></h1>
<img src="{% static 'css/img/congratz.gif'%}">
<hr>
<h2>Du vann det här dumma spelet, tack för att du spelade!</h2>
<hr>
</div>
</body>
</html>
