{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<body>
<h1><font color="red">/watch?v=6b0ftfKFEJg</h1>

<div align = "center" class="center">

<p>/watch?v=Z8SPwT3nQZ8</p>
<p>/watch?v=zpOULjyy-n8</p>
<p>/watch?v=r5yaoMjaAmE</p>
<p>/watch?v=NrI-UBIB8Jk</p>
<p>/watch?v=RSj0mPJsMy0</p>
<p>/watch?v=XpqqjU7u5Yc</p>
<p>/watch?v=WUOtCLOXgm8</p>
<p>/watch?v=dQw4w9WgXcQ</p>
<p>/watch?v=1TxgfbPl9Qg</p>


</div>
<p>Hint:Title</p>
</body>
</html>
