{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<body>
<div align = "center" class="center">
<h1><font color="red">Final Question</font></h1>
<hr>
<h2>Vad var den första bokstaven i varje kod?</h2>
<hr>
</div>
</body>
</html>
