{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<h1><font color="red">01000010 01101001 01101110 01100001 01110010 01111001</font></h1>
<div align = "center" class ="center">
	<p>01010100 01101000 01100101 00100000 01100001 01101110 01110011 01110111 01100101 01110010 00100000 01110100 01101111 00100000 01110100 01101000 01100101 00100000 01101110 01100101 01111000 01110100 00100000 01110100 01101000 01101001 01110011 00100000 01110001 01110101 01100101 01110011 01110100 01101001 01101111 01101110 00100000 01101001 01110011 00100000 01100110 01101111 01110101 01101110 01100100 00100000 01100001 01110100 00100000 01110100 01101000 01100101 00100000 01100101 01101110 01100100</p>
</div>

<p>01101000 01101001 01101110 01110100 : 01101001 01110100 01110011 00100000 01100001 01110100 00100000 01110100 01101000 01100101 00100000 01100101 01101110 01100100 0001010</p>
</body>
</html>

